<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/resources/css/style.css">
</head>




<body>


        <br><br>
        <div class="parentboxcenter">
            <form id="eventForm"  action="/addscore" method="POST" >
            
            
                
         
            

                <label for="extype">exercise type</label><br>
                <input type="text" id="extype" name="extype" required><br>


               <label for="sscore">score</label><br>
               <input type="text" id="sscore" name="sscore" required><br>

              
       
              <br>
              <br>

   
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  
            </form>

        </div>






  <script src="/resources/js/script.js"></script>
</body>
</html>