<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/resources/css/style.css">
</head>




<body>




                {{#each leaderboard}}


                <div class="parentboxcenter">
                    
                    <div class="leaderitem"> 
                    {{username}}
                    </div>

                    <div class="leaderitem"> 
                    {{score}}
                    </div>

                    <div class="leaderitem"> 
                    {{exercise_type}}
                    </div>

                    <hr>

                </div>


                {{/each}}






  <script src="/resources/js/script.js"></script>
</body>
</html>